body {
    margin: 0;
}

.container {
    display: flex;
    width: 575px;
    height: 385px;
    position: absolute;
    left: 200px;
    top: 100px;
    flex-wrap: wrap;
    background-color: #1B244A;
    justify-content: space-around;
    align-items: center;
}

.home-section, .guest-section {
    margin-top: -30px;
}

h3 {
    margin-left: 12px;
    margin-bottom: 10px;
    color: white;
    font-size: 40px;
}

.scoreboards {
    display: flex;
    
}

.scoreboard {
    display: flex;
    width: 155px;
    height: 120px;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.score-text {
    color: #F94F6D;
    font-size: 90px;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btns button {
    width: 45px;
    height: 45px;
    margin: 0px 4px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-size: 18px;
    color: #9AABD8;
    background-color: #1B244A;
}

.misc-section {
    flex-basis: 100%;
}

.btns2 {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    
}

.btns2 button {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-size: 18px;
    color: #9AABD8;
    background-color: #1B244A;
    width: 20%;
    height: 35px;
}